@page "/"

<h1>Blazor App Othello Demo</h1>

<p>
This project started as an exploration into <a href="https://en.wikipedia.org/wiki/Monte_Carlo_tree_search">Monte Carlo Tree Search</a>.
Once completed, there was a need to play against it, and a web interface was selected.
We decided to use Blazor so that we could keep the core logic written in C# and still
produce a single page app that runs fully in the browser.
</p>

<p>
Please enjoy the game and hopefully you'll learn something as well.
If you have any feedback, please feel free to reach out to me on <a href="https://twitter.com/fody">twitter</a>.
</p>